/build
/captures
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.kotlin
*.iml
.DS_Store
.externalNativeBuild
.cxx
/local.properties
local.properties
